<form method="post" action="{{ path('app_demande_suppression_delete', {'id': demande_suppression.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ demande_suppression.id) }}">
    <button class="btn">Delete</button>
</form>
